# [OBRIGATÓRIO] URL de conexão com o banco de dados PostgreSQL
DATABASE_URL=postgresql://user:password@db:5432/gerenciador_clientes

# [OBRIGATÓRIO] Credenciais do Usuário Super Admin inicial do sistema
SUPER_ADMIN_EMAIL=aryarajmarketing@gmail.com
SUPER_ADMIN_PASSWORD=123456

# [OBRIGATÓRIO] Chave secreta para assinatura dos tokens JWT de autenticação
JWT_SECRET=super_secret_jwt_key_change_in_production_12345
